@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container {
  width: 60%;
  margin: 0 auto;

}

header {
  position: absolute;
  top: 20px;
  left: 0;
  color: white;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.logo a h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header ul {
  display: flex;
  text-align: center;
  align-items: center;
}

header .nav ul li {
  margin: 0 20px;
}

header .icon ul li {
  margin: 0 10px;
}


/* 텍스트관련 */

header button {
  width: 170px;
  height: 45px;
  background-color: #FFBE33;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  font-weight: 100;
}

header .nav ul li:first-child {
  color: #FE9A1C;
}

header li:hover {
  color: #FE9A1C;
}

header button:hover {
  background-color: #FE9A1C;
  color: white;
}